@import 'rest.css' all;

/* cursor ----------------------------------------------------------- */

/* cursor: help  */
abbr {cursor: help}

/* cursor: pointer  */
input[type=submit], input[type=reset] {cursor: pointer}
button {cursor: pointer}
:link, :visited {cursor: pointer}

/* cursor: text  */
textarea {cursor: text}
input[type=text], input[type=password] {cursor: text}

/* fonts ------------------------------------------------------------ */

/* small font size */
sub, sup {font-size: .85em}

/* bold font */
html strong {font-weight: bolder} /* increase specificity */

/* acronym/abbreviation style */
abbr {
    letter-spacing: .1em;
    font-variant: small-caps;
}

/* header style */
h1, h2, h3, h4, h5, h6 {padding: .5em 0 .5em 0}

sub {vertical-align: sub}
sup {vertical-align: super}

/* link effects ----------------------------------------------------- */

:link, :visited {
    background: transparent;
    text-decoration: none;
}
.text :link, .text :visited,
:link:hover, :visited:hover {text-decoration: underline}
:link {color: #303060}
:visited {color: #303040}

/* spacing ---------------------------------------------------------- */

/* nuke padding */
address, blockquote, body, caption, dd, div, fieldset, form, hr, html,
img, li, object, ol, p, pre, td, th, ul {padding: 0}

/* nuke margins */
address, caption, div, fieldset, form, h1, hr, html, img, input, li,
object, pre, select, textarea, td, th {margin: 0}

/* nuke line-height */
address, caption, blockquote, body, dd, div, fieldset, form, h1, h2, h3,
h4, h5, h6, hr, html, td, pre, td, th, ol, ul {line-height: 1.12}

h2, h3, h4, h5, h6 {margin: 0 0 1em 0}

/* lists ------------------------------------------------------------ */

/* main list style */
ol, ul, dd {margin: 0 0 0 5%}

/* effects ---------------------------------------------------------- */

p, li, div.text {
    margin: 0 0 .4em 0;
    line-height: 1.4;
}

/* main ------------------------------------------------------------- */

blockquote {margin: 0em 4% 0em 4%}

body {
    margin: 0;
}

td {padding: 5px 5px 5px 5px}
th {font-size: 1.2em}

/* forms ------------------------------------------------------------ */

input[type=text], input[type=file], input[type=submit],
input[type=password] {
    border: 1px solid #4d626f;
    background: #c9d3d9;
}

select, textarea {
    border: 1px solid #4d626f;
    background: #c9d3d9;
}

textarea:focus, input:focus, select:focus {background: #b9c3c9}

input[type=submit], input[type=reset] {padding: 3px}
input[type=submit]:focus,
input[type=reset]:focus {padding: 4px 2px 2px 4px}

textarea {padding: 10px}
input {padding: 0 10px 0 10px}

/* headings --------------------------------------------------------- */

h1 {
    font-size: 1.6em;
    letter-spacing: .5em;
    margin: 0 0 1.25em 0;
}

h2 {
    font-size: 1.45em;
    margin: 0 0 0 -5%;
    /*border-top: 1px solid #4d626f;*/
}

h3 {
    font-size: 1.35em;
    margin: 0 0 0 -4%;
}

h4 {
    font-size: 1.2em;
    margin: 0 0 0 -3%;
}

h5 {
    font-size: 1.15em;
    margin: 0 0 0 -2%;
}

h6 {
    font-size: 1.1em;
    margin: 0 0 0 -1%;
}

/* classes ---------------------------------------------------------- */

a.button {font-variant: small-caps}

.forum {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0 0 2em 0;
}

.body {
    padding: 140px 4% 0 5%
}

.ielogo, .logo {
    background-image: url(images/ikagames_bg.gif);
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 140px;
    width: 100%;
    position: absolute;
    top: 0;
}

.sidebar {
    position: absolute;
    left: 728px;
    top: 15px;
    margin: .1em 4% 0 .3em;
    padding: 0;
}

.menu a {
    padding: .1em 1% .1em 1%;
    background: #ddd;
    border: 1px solid #4d626f;
}

.menu {
    line-height: 2;
    padding: 0;
    margin: 0;
    text-align: justify;
}

.error {
    margin: 0 0 2em 0;
    padding: 1em 2% 1em 2%;
}

.notice {
    margin: 0 0 2em 0;
    padding: 1em 2% 1em 2%;
}

.subbox {
    padding: .5em 1% .5em 1%;
}

.box {
    margin: 0 0 2em 0;
    padding: 1em 2% 1em 2%;
}

.post {
    margin: 1em 1% 0 4%;
    padding: 0;
}

.postbox .post {
    margin: 1em 1% 0 1%;
    padding: 0 0 1em 0;
}

table.box {
    margin: 0 0 2em 0;
    padding: 1em 2% 1em 2%;
}

.date {
    font-size: .5em;
    vertical-align: middle;
}

.signature {
    border-top: 1px dotted #6d826f;
    padding: .2em 0 0 0;
    text-indent: 2%;
}

.postbox .signature {
    border-top: 1px dotted #6d826f;
    padding: .2em 0 0 0;
    margin: 1em 0 0 0;
}

.sidebar hr {
    height: 1px;
    border: 0px solid #4d626f;
    color: #4d626f;
    margin: .5em 0 .5em 0;
    width: 100px;
    padding: 0;
}

/* inside articles -------------------------------------------------- */

hr {height: 1px}

.string .comment * {
    color: purple;
    font-weight: normal;
    font-style: normal;
}

.comment .string * {
    color: green;
    font-style: italic;
    font-weight: normal;
}